body {
    background-color: black;
    direction: ltr;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
}

@media only screen and (min-width: 1450px), 
       only screen and (min-width: 550px) and (max-width: 949px), 
       only screen and (min-width: 950px) and (max-width: 1449px)
{
    .cards {
        padding: 70px 45px;
    }
}

.cards {
    background: transparent;
    border-bottom: 8px solid #222;
    color: #fff;
    margin-bottom: 0;
    padding: 50px 5%;
    position: relative;
}

@media only screen and (max-width: 349px), 
       only screen and (min-width: 350px) and (max-width: 399px), 
       only screen and (min-width: 400px) and (max-width: 549px), 
       only screen and (min-width: 550px) and (max-width: 949px)
{
    .animated-cards .animated-cards-container {
        flex-direction: column;
    }

}

.animated-cards .animated-cards-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
}

@media only screen and (max-width: 349px), only screen and (min-width: 350px) and (max-width: 399px), only screen and (min-width: 400px) and (max-width: 549px), only screen and (min-width: 550px) and (max-width: 949px)
{
    .animated-cards.guarda-ovunque .animated-cards-text {
        margin: 0;
    }
}

.animated-cards.guarda-ovunque .animated-cards-text {
    margin: -2% 0;
}

@media only screen and (max-width: 349px), only screen and (min-width: 350px) and (max-width: 399px), only screen and (min-width: 400px) and (max-width: 549px), only screen and (min-width: 550px) and (max-width: 949px)
{
    .animated-cards .animated-cards-text {
        padding: 0;
        text-align: center;
        width: 100%;
    }
}

.animated-cards .animated-cards-text {
    flex: 0 1 auto;
    height: 100%;
    padding: 0 3rem 0 0;
    width: 100%;
    z-index: 3;
}

@media only screen and (max-width: 349px), only screen and (min-width: 350px) and (max-width: 399px), only screen and (min-width: 400px) and (max-width: 549px)
{
    .animated-cards-title {
        font-size: 1.625rem;
    }
    
}

.animated-cards-title {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 27px;
    margin: 0 0 0.4em;
}

@media only screen and (max-width: 349px), only screen and (min-width: 350px) and (max-width: 399px), only screen and (min-width: 400px) and (max-width: 549px)
{
    .animated-cards-sub, .animated-cards-text {
        font-size: 1.125rem;
    }
}

.animated-cards-sub, .animated-cards-text {
    font-size: 1.625rem;
    font-weight: 400;
}

h3 {
    font-size: 20px;
}

@media only screen and (max-width: 349px), only screen and (min-width: 350px) and (max-width: 399px), only screen and (min-width: 400px) and (max-width: 549px), only screen and (min-width: 550px) and (max-width: 949px)
{
    .animated-cards .animated-cards-media {
        margin-top: 1em;
        max-width: 600px;
        width: 100%;
    }
}

.animated-cards .animated-cards-media {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    height: 100%;
    width: 48%;
}

@media only screen and (max-width: 349px), only screen and (min-width: 350px) and (max-width: 399px), only screen and (min-width: 400px) and (max-width: 549px), only screen and (min-width: 550px) and (max-width: 949px)
{
    .animated-cards.guarda-ovunque .media-container {
        margin: -5% 0 0;
    }
}

.animated-cards.guarda-ovunque .media-container {
    margin: -5% -10% 0 0;
}

@media only screen and (max-width: 349px), only screen and (min-width: 350px) and (max-width: 399px), only screen and (min-width: 400px) and (max-width: 549px), only screen and (min-width: 550px) and (max-width: 949px)
{
    .animated-cards .media-container {
        margin: 0 auto;
    }
}

.animated-cards .media-container {
    overflow: hidden;
    position: relative;
}

.animated-cards.guarda-ovunque .animated-cards-img {
    position: relative;
    z-index: 2;
}

img {
    border: 0;
    height: auto;
    max-width: 100%;
}

.animated-cards.guarda-ovunque .animated-cards-video-container {
    height: 100%;
    left: 50%;
    max-height: 47%;
    max-width: 63%;
    position: absolute;
    top: 34%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.animated-cards.guarda-ovunque .animated-cards-video  {
    height: 100%;
    width: 100%;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

.animated-cards.flipped .animated-cards-container {
    flex-flow: row-reverse;
}

@media only screen and (max-width: 349px), only screen and (min-width: 350px) and (max-width: 399px), only screen and (min-width: 400px) and (max-width: 549px), only screen and (min-width: 550px) and (max-width: 949px)
{
    .animated-cards.flipped .animated-cards-container {
        flex-flow: column;
    }
}

@media only screen and (max-width: 349px), only screen and (min-width: 350px) and (max-width: 399px), only screen and (min-width: 400px) and (max-width: 549px), only screen and (min-width: 550px) and (max-width: 949px)
{
    .animated-cards.flipped .animated-cards-container .animated-cards-text {
        padding: 0;
    }
}

.animated-cards.flipped .animated-cards-container .animated-cards-text {
    padding: 0 0 0 3rem;
}